<td>
    <a class="permission-link" asp-action="VerificationCode" asp-controller="Devices" title="Verification Code">
        <img src="~/img/MSG_transparent.png" alt="Verification Code" style="width: 24px; height: 24px; display: inline-block; margin: 0; padding: 0;">
    </a>


    <a class="permission-link" asp-action="ResolveCase" asp-controller="Devices" title="Resolve Case">
        <img src="~/img/resolve_transparent.png" alt="Resolve Case" style="width: 24px; height: 24px; display: inline-block; margin: 0; padding: 0;">
    </a>
</td>
