@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo-Regular.woff2') format('woff2'), url('../webfonts/Cairo-Regular.woff') format('woff'), url('../webfonts/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Example usage in your CSS */
body {
    font-family: 'Cairo', sans-serif;
}
